<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <base href="/">

  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/admin.css">

  <title>Desafio - Foodfy - Admin</title>

</head>

<body>
    <header style="background-color: black; display: flex; align-items: center">
      <a href="/">
        <img src="assets/logoW.png" alt="Logo Foodfy" class="logo">
      </a>
    </header>
    <div class="admin-wrapper">
      {% block content %}
      {% endblock %}
    </div>
</body>

{% block script %}
{% endblock %}

</html>
