{% extends "layout.njk" %}

{% block content %}
    <section class="cards">
    {% for recipe in recipes %}
      <div class="card">
        <a href="/recipe/{{recipe.id}}">
          <img src="{{recipe.image}}">
          <div class="description horizontal-desc">
            <h3>{{recipe.title}}</h3>
            <p>por {{recipe.author}}</p>
          </div>
        </a>
      </div>
    {% endfor %}
    </section>
{% endblock %}
