* {
  margin: 0;
  padding: 0;
  border: 0;
}

.wrapper {
  margin: 0px 200px 50px 200px;
}

header {
  padding: 36px 380px 36px 0px;
}

a {
  text-decoration: none;
}

header img {
  float: left;
}

.links {
  text-align: center;
}

.links a {
  color: black;
  font-size: 16px;
  line-height: 22px;
  margin: 0 18px;
  font-weight: bold;
}

.banner {
  width: 940px;
  height: 366px;
  background: #fbdfdb;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.banner .text {
  margin-left: 60px;
  margin-right: 248px;
}

.banner h1 {
  font-family: Roboto-Bold;
  font-size: 32px;
  color: #111111;
}

.banner p {
  width: 316px;
  height: 84px;
  opacity: 0.7;
  font-family: "Roboto-regular", sans-serif;
  font-size: 18px;
  color: #000000;
  line-height: 28px;
}

.banner img {
  margin-top: 66px;
}

.subtitle {
  margin: 40px 0px 5px 0px;
  font-family: "Roboto-Bold", sans-serif;
}

.cards {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  width: 300px;
  margin-top: 15px;
}

.card img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
}

.card .description {
  margin-top: 20px;
  min-width: 300px;
}

.card .description h3 {
  font-family: "Roboto-regular", sans-serif;
  font-size: 18px;
  color: #111111;
}

.card .description p {
  font-family: "Roboto-regular", sans-serif;
  font-size: 14px;
  color: #777777;
}

footer {
  background: #eeeeee;
  text-align: center;
  padding: 30px;
}

footer p {
  color: #999999;
  font-family: "Roboto-regular", sans-serif;
  font-size: 14px;
}

.about .text-box h3 {
  font-family: "Roboto-bold", sans-serif;
  margin-bottom: 30px;
  font-size: 24px;
}

.about .text-box p {
  font-family: "Roboto-regular", sans-serif;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

.about .text-box h5 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-family: "Roboto-regular", sans-serif;
}

.recipe-banner {
  border-radius: 20px;
  width: 100%;
  height: 280px;
}

p.title {
  margin-top: 50px;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 36px;
  color: #111111;
  text-align: center;
  font-weight: bold;
}

.hide {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 12px;
  color: #999999;
  cursor: pointer;
  display: block;
  margin-left: 8px;
}

p.recipe-subtitle {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 24px;
  color: #111111;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 40px;
  display: flex;
  align-items: center;
}
p.author {
  font-family: "Roboto-regular", sans-serif;
  font-size: 20px;
  color: #777777;
  text-align: center;
}

p.recipe-text {
  font-family: "Roboto-regular", sans-serif;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

li.ingredient,
li.item-list {
  font-family: "Roboto-regular", sans-serif;
  color: #444444;
  padding: 2px;
}

.logo {
  padding-left: 200px;
}
